@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    /* ovu velicnu fonta treba jos podesit  */
    line-height: 1.5;
}